---
layout: default
---
<!-- {% include header.html %} -->

<div class="home">

  <h1 class="page-heading">Posts (is this the real one tho)</h1>

  <A HREF = "cv.html">cv</A>

  <A HREF = "contact.html">contact</A>
  
  <A HREF = "vr.html">vr</A>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>

<!-- {% include footer.html %} -->